@using NguberAdmin.Models.DriverViewModels
@model IndexViewModel

@{
  ViewData["Title"] = "Drivers";
}

<h2>@ViewData["Title"]</h2>

<div class="row">

</div>

<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover" style="font-size:80%;">
    <thead>
      <tr>
        <th>Nguber Number</th>
        <th>user Name</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Driver License</th>
        <th>Vehicle</th>
        <th class="text-right">Credit(s)</th>
        <th class="text-right">
          <a asp-area="" asp-action="Add">ADD</a>
        </th>
      </tr>
    </thead>
    <tbody>
      @if (Model.Drivers != null) {
        @foreach (var driver in Model.Drivers) {
          <tr>
            <td>@driver.ApplicationUser.NguberNumber</td>
            <td>@driver.ApplicationUser.UserName</td>
            <td>@string.Format("{0} {1}", driver.ApplicationUser.NameFirst, driver.ApplicationUser.NameLast).Trim()</td>
            <td>@driver.ApplicationUser.NormalizedEmail</td>
            <td>@string.Format("{0} ({1:yyyy MMM})", driver.DriverLicenseNumber, driver.DriverLicenseExpire)</td>
            <td>@string.Format("{0} ({1})", driver.VehicleNumber, driver.VehicleType)</td>
            <td class="text-right">@driver.Credit.ToString("#,0.00")<span class="pull-left">Rp.</span></td>
            <td class="text-right">
              <a asp-area="" asp asp-action="Detail" asp-route-Id="@driver.ApplicationUser.Id">DTL</a>
              | <a asp-area="" asp asp-action="Edit" asp-route-Id="@driver.ApplicationUser.Id">EDT</a>
              | <a asp-area="" asp asp-action="Remove" asp-route-Id="@driver.ApplicationUser.Id">RMV</a>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

